/* Add your custom styles here */

body {
    background-color: #A0BFE0;
    background-image: url('transparent bg.png');
    background-size: auto 700px; 
    background-repeat: no-repeat;
    background-position: center top; 
    display: flex;
}


.final {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.edit-checkbox {
    width: 20px;
    height: 20px;
}

/* Add more styles as needed */
